
* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.container {
    max-width: 1180px;
    padding: 0 15px;
    margin: 0px auto;
} 
details summary {
    display: block;
    text-decoration: none;
}

header {  
    background-image: linear-gradient(rgba(31, 32, 33, 0.79)), url(../img/bg-header.png)  ;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1F2021;
    width: 100%;
    color: #FFFFFF;
}    
.header_wrap {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;       
}
.header_burger {
    display: none;
}
.header_menu {
    a {
        text-decoration: none;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        padding-left: 65px;
    }
    a:first-child {
        padding-left: 0;
    }
    a:hover {
        transform: scale(1.2,1.2);
    }
    a:active {
        transform: scale(1.3,1.3);
        color: #bbbbbb;
    }
} 
.header_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
        list-style: none;
        margin: 0  0 0 30px;
    }
}
.contact_media {
    display: none;
}
.contact {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    white-space: nowrap;
    margin: 0 0 0 300px;
    strong {
        display: inline-block;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

    }
} 
.product_found h1{
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: #FFFFFF;
    padding: 50px 0 66px 0;
}

main {
    margin: 37px 0 83px;
    position: relative;   
} 
.product_found_main {
    display: none;
}    
.sort {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 38px;
    &__filter {
        padding-left: 64px;
        summary {
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #000000;   
        }
        summary:hover {
            transform: scale(1.09,1.09);
        }
        form {
            background: #FFFFFF;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            z-index: 3;
            position: absolute;
            display: flex;
            flex-direction: column;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            padding: 7px 9px;
            width: 132px;
        }
        .custom-radio>input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }
        .custom-radio>span {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        .custom-radio>span::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 50%;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        .custom-radio>input:not(:disabled):not(:checked)+span:hover::before {
            border-color: #6EBBD3;
        }
        .custom-radio>input:not(:disabled):active+span::before {
            background-color: #6EBBD3;
            border-color: #6EBBD3;
        }
        .custom-radio>input:focus+span::before {
            box-shadow: 0 0 0 0.2rem rgba(13, 80, 49, 0.25);
        }
        .custom-radio>input:focus:not(:checked)+span::before {
            border-color: #6EBBD3;
        }
        .custom-radio>input:checked+span::before {
            border-color: #0d5f44;
            background-color: #6EBBD3;
            background-position: center center;
        }
        img {
            padding-left: 19px;
        }
    }
}
.catalog {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product {
        background: #F3F3F3;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 93px;
        max-width: 380px;
        .product__marker {
            width: 76%;
            position: absolute;
            display: flex;
            justify-content: flex-end;

            align-items: center;
            padding: 34px 32px 0 38px;
            .product__sale {
                width: 78px;
                height: 39px;
                background: #E62D2D;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: normal;
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
            }
            .product__favor {
                display: flex;
                margin-left: 60%;
                
            }
            .product__favor:hover {
                background-image: url(../img/favorite1.svg);
            }
            .product__favor:active {
                transform: scale(1.1,1.1);
            }
        }
        #product__picture {
            width: 100%;
        }
        .product__decription {
            margin: 29px 0 29px 29px;
            h3 {
                padding-bottom: 21px;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #000000;    
            }
            .product__specif {
                display: flex;
                align-items: center;
                padding-bottom: 16px;
                h4 {
                    padding-left: 18px;
                    border-left: 4px solid #6EBBD3;
                    width: 79px;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 15px;
                    padding-right: 20px;
                }
                .product__age, .product__foot__number {
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    strong {
                        font-size: 16px;
                        line-height: 20px;
                        color: #000000;
                    }
                    span {
                        font-size: 12px;
                        line-height: 15px;
                        color: #000000;
                        white-space: nowrap;
                    }
                }
                .product__age {
                    padding-right: 48px; 
                }
            }
            .product__price {
                
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
            }
        }
        #product__buy, #product__sold {
            width: 100%;
            bottom: -58px;
            position: absolute;
            border: none;
            padding: 21px 56px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
        #product__buy {
            background: #6EBBD3;
        }
        #product__buy:hover {
            background: linear-gradient(90deg, rgb(53, 115, 146) 19%, rgb(121, 198, 201) 69%);
            transform: scaleY(1.11);
            font-size: 20px;
            line-height: 24px;
        }
        #product__buy:active {
            transform: scaleY(1.3);
            font-size: 24px;
            line-height: 28px;
        }
        #product__sold {
            background: #1F2021;
        }
        #product__sold:hover {
            transform: scaleY(1.11);
            font-size: 20px;
            line-height: 24px;
        }
    }
}
.show__prod__wrap {
    margin-top: 68px - 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    #show__product {
        background: #FFFFFF;
        border: 1px solid #CACACA;
        box-sizing: border-box;
        border-radius: 10px;
        white-space: nowrap;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding: 24px 129px;
    }
    #show__product:hover {
        border: 1px solid #6EBBD3;
        background-color: #6EBBD3;
        transform: scale(1.2,1.2);
        transition: 1.2s;
    }
    #show__product:active {
        border: 1px solid #6EBBD3;;
        transform: scaleX(1.4);
    }
}
.help__to__scroll {
    display: flex;
    justify-content: flex-end;
    .back_to_top {
        position: absolute;
        z-index: 100;
        width: 59px;
        height: 59px;
        text-align: center;
        line-height: 30px;
        background: #6EBBD3;
        cursor: pointer;
        border-radius: 2px;
        display: none;
        img {
            padding: 21px; 
        }
    }    
    .back_to_top:hover {
        background: #357392;
    } 
    .back_to_top-show {
        display: block;
    }
}    
    


footer {
    margin-bottom: 114px;
    height: 312px;
    .footer__wrap {
        background: #1F2021;
        padding: 83px 80px 92px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }   
}
.side__left {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 37%;
    h2 {
        font-weight: bold;
        margin-bottom: 28px;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;    
    }
    p {
        font-size: 28px;
        line-height: 26px;
        color: #FFFFFF;   
    }
} 
.side__right {
    form {
        display: flex;
        flex-direction: column;
        .subscribe__news {
            display: flex;
            label {
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;    
            }
            .custom-checkbox {
                position: absolute;
                z-index: -1;
                opacity: 0;
            }
            .custom-checkbox+label {
                display: inline-flex;
                align-items: center;
                user-select: none;
            }
            .custom-checkbox+label::before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 1px solid #adb5bd;
                border-radius: 3px;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
            .custom-checkbox:checked+label::before {
                border-color: #6EBBD3;;
                background-color: #23393f;;
                background-image: url(../img/footer-check.svg);
            }
            .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
                border-color: #b3d7ff;
            }
        }  
    }  
}
.subscribe__mail {
    margin-bottom: 24px;
    .email__input {
        border: none;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 22px 0 22px 33px;
        width: 300px;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
    }
    .email__input:hover {
        transform: scale(1.1,1.1);
        transition: 0.7s;
        border: 2px solid #357392;

    }
    .subscribe {
        border: none;
        padding: 22px 75px;
        background: #6EBBD3;
        border-radius: 10px;
        margin-left: 16px;
    }
    .subscribe:hover {
        background:#93d3f3;
        ;
        transform: scale(1.1,1.1);
        transition: 0.7s;
    }
}

@media (max-width: 1180px) {
    .container {
        max-width: 970px;
    }
    .contact {
        margin: 0 0 0 200px;
    }
    .sort {
        justify-content: center;
    }
    .catalog {
        justify-content: space-evenly;
    }
    .subscribe__mail .email__input {
        padding: 15px 0 15px 25px;
        width: 200px;
    }
    .subscribe__mail .subscribe {
        padding: 15px 55px;
        margin-left: 10px;
    }
    .side__left h2 {
        font-size: 36px;
        line-height: 47px;
    }
}

@media (max-width: 992px) {
    .container {
      max-width: 750px;
    }
    .contact {
        margin: 0 0 0 33px;
    }
    .sort {
        justify-content: center;
    }
    .footer__wrap {
        padding: 53px 50px 62px;
    }
    .side__left {
        width: 100%;
    }
    .subscribe__mail .email__input {
        padding: 15px 0 15px 25px;
        width: 230px;
        margin-bottom: 24px;
    }
    .subscribe__mail .subscribe {
        padding: 15px 82px;
        margin-left: 0px;
    }
    .side__left h2 {
        font-size: 36px;
        line-height: 47px;
    }
}

@media (max-width: 767px) {
    .container {
      max-width: none;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
    }
    header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #082e3a;
        z-index: 2;
    }
    .header_wrap {
        position: relative;
        height: 50px;
        padding: 10px 0 ;   
    }
    .contact_media {
        display: block;
    }
    .contact {
        display: none;
    }
    .header_logo {
        max-width: 100%;
        flex: 0 0 30px;
        position: relative;
        z-index: 3;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 40px;
        height: 30px;
        z-index: 3;
    }
    .header_burger span {
        background-color: #dce3e6;
        position: absolute;
        width: 40px;
        height: 3px;
        left: 0; 
        top: 13px;
        transition: all 0.3s;
    }
    .header_burger::before,
    .header_burger::after {
        content: '';
        background-color: #dce3e6;
        position: absolute;
        width: 40px;
        height: 3px;
        left: 0;
        transition: all 0.3s;
    }
    .header_burger::before {
        top: 0;
    }
    .header_burger::after {
        bottom: 0;
    }
    .header_burger.active span {
        transform: scale(0);
    }
    .header_burger.active::before {
        transform: rotate(45deg);
        top: 13.5px;
    }
    .header_burger.active::after {
        transform: rotate(-45deg);
        bottom: 13.5px;
    }
    .header_menu {
        position: fixed;
        top: -100%;
        right: 0;
        width: 100%;
        overflow: auto;
        transition: all 0.5s;
        background-color: #6EBBD3;
        padding: 80px 0 0 0;
    }
    .header_menu.active {
        top: 0;
    }
    .product_found {
        display: none;
        padding: 0px;
    }
    .sort__filter {
        padding-left: 19px;
    }
    .sort__filter img {
        padding: 5px 0 0 0;
    }
    .sort__filter summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .catalog .product .product__decription {
        margin: 15px 0 15px 15px;
    }
    .catalog .product .product__decription .product__specif .product__age {
        padding-right: 20px;
    }
    body.lock {
        overflow: hidden;
    }
    main .product_found_main {
        display: block;
        .prod_found_main {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            font-weight:600;
            font-size: 16px;
            line-height: 32px;
            color: #000000;
            padding: 0 0 20px 0;
        }  
    }
    .header_list {
        flex-direction: column;
        justify-content:center;
        li {
            padding:0 0 10px;
        }
    }
    main {
        margin: 100px 0 35px 0;    
    }  
    .show__prod__wrap {
        margin-top: 1px;
    }
    .show__prod__wrap #show__product {
        padding: 24px 83px;
    }
    .help__to__scroll {
        margin-bottom: 59px;
    }
    footer .footer__wrap {
        flex-direction: column;
        padding: 40px 50px 55px;
        justify-content: center;
    }
    .side__left {
        padding: 0 0 10px 0;
        h2 {
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 10px;
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .subscribe__mail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
    }
    .side__right form .subscribe__news {
        justify-content: center;
    }
    .subscribe__mail .email__input {
        margin-bottom: 10px;
    }
}
@media (max-width: 500px) {
    .sort__filter form {
        right: 15px;
    }
}
